
# Data sources and pandas

In [10]:
# the public folder below contains files that are used in this assignment
public = '../resource/asnlib/publicdata/'
!ls $public

article.html	       hw3_ex3_q1_sample.csv  hw3_ex4_q5_sample.csv
empty_db.sqlite        hw3_ex3_q2_sample.csv  hw3_ex4_q6_sample.csv
hw3_ex1_q1_sample.csv  hw3_ex4_q2_sample.csv  onlinelearning
hw3_ex2_q2_sample.csv  hw3_ex4_q3_sample.csv  opencorporates
hw3_ex2_q3_sample.csv  hw3_ex4_q4_sample.csv  pageviews

In [11]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

## Part 1: json and web-services

The files `mckinsey_company_page_1.txt`, `mckinsey_company_page_2.txt`, ..., `mckinsey_company_page_7.txt` (located in the public folder `/opencorporates/`) contain the search results for "mckinsey company" in the database <a>opencorporates.com</a>. The results were obtained using the website's API by running the commands: (there is no need to actually execute these commands to solve this exercise, the output can be found in the files above)

```python
import requests
page = requests.get('https://api.opencorporates.com/v0.4/companies/search?q=mckinsey+company')
```


The files are formatted as JSON. Based on these results, create the DataFrame 'df_mckinsey' that contains information about companies: their number, name, country, and localty using the corresponding attributes in the data. 

For example, the file `ex1_first_5.csv` in the public folder contains the first 5 records of the resulting dataframe. 

__Note__: store missing values as `None` or `pd.np.nan`.

In [12]:
# example of the output
import pandas as pd
pd.read_csv(public+'hw3_ex1_q1_sample.csv',index_col=0)

,company_number,name,country,locality
0,516402-1072,"""McKinsey & Company, Inc. Sweden (USA) svensk ...",NaN,NaN
1,08271775,08271775 LTD,England,London
2,08445513,BERKELEY MCKINSEY & COMPANY LTD,United Kingdom,Maidenhead
3,0125325900,EVANS-MCKINSEY & COMPANY,United States,NaN
4,C1679454,"GARY MCKINSEY & COMPANY, INC.",United States,NaN

In [13]:
df_mckinsey = None
df_mckinsey = None
import json
import numpy as np
import pandas as pd
import os

file_dir = '../resource/asnlib/publicdata/opencorporates/'
list_company_number = []
list_name = []
list_country = []
list_locality = []
# for file_name in os.listdir(file_dir):
def readFile(file_name):
    file_path = os.path.join(file_dir, file_name)
    with open(file_path, 'r') as fff:
        load_dict = json.load(fff)
        company = load_dict['results']['companies']
        for i in range(len(company)):
            companyInfo = company[i]['company']
            if companyInfo == None:
                list_company_number.append(np.nan)
                list_name.append(np.nan)
                list_country.append(np.nan)
                list_locality.append(np.nan)
            else:
                if companyInfo['company_number'] == None:
                    list_company_number.append(np.nan)
                else:
                    list_company_number.append(companyInfo['company_number'])
                if companyInfo['name'] == None:
                    list_name.append(np.nan)
                else:
                    list_name.append(companyInfo['name'])
                if companyInfo['registered_address'] == None:
                    list_country.append(np.nan)
                    list_locality.append(np.nan)
                else:
                    if companyInfo['registered_address']['country'] == None:
                        list_country.append(np.nan)
                    else:
                        list_country.append(companyInfo['registered_address']['country'])
                    if companyInfo['registered_address']['locality'] == None:
                        list_locality.append(np.nan)
                    else:
                        list_locality.append(companyInfo['registered_address']['locality'])
readFile("mckinsey_company_page_1.txt")
readFile("mckinsey_company_page_2.txt")
readFile("mckinsey_company_page_3.txt")
readFile("mckinsey_company_page_4.txt")
readFile("mckinsey_company_page_5.txt")
readFile("mckinsey_company_page_6.txt")
readFile("mckinsey_company_page_7.txt")
order = ['company_number', 'name', 'country', 'locality']
df_mckinsey = pd.DataFrame({ "name": list_name, "company_number": list_company_number, "country": list_country, "locality": list_locality})
df_mckinsey = df_mckinsey[order]
df_mckinsey

,company_number,name,country,locality
0,516402-1072,"""McKinsey & Company, Inc. Sweden (USA) svensk ...",NaN,NaN
1,08271775,08271775 LTD,England,London
2,08445513,BERKELEY MCKINSEY & COMPANY LTD,United Kingdom,Maidenhead
3,0125325900,EVANS-MCKINSEY & COMPANY,United States,NaN
4,C1679454,"GARY MCKINSEY & COMPANY, INC.",United States,NaN
5,00479101,"GEOFFREY, MORGAN, MCKINSEY & COMPANY, INC.",United States,NaN
6,F01186,MCKINSEY & CO. INC,India,NaN
7,1161938916,MCKINSEY & COMPAGNIE CANADA,Canada,NaN
8,5780558,"MCKINSEY & COMPANY (AZERBAIJAN), INC.",NaN,NaN
9,0105544120888,"MCKINSEY & COMPANY (THAILAND) CO.,LTD.",Thailand,NaN
10,32229,MCKINSEY & COMPANY BERMUDA LTD.,NaN,NaN
11,3084653,MCKINSEY & COMPANY CANADA/MCKINSEY & COMPAGNIE...,Canada,NaN
12,2328326,"MCKINSEY & COMPANY COLOMBIA, INC.",NaN,NaN
13,32284671,MCKINSEY & COMPANY DENMARK P/S,Denmark,NaN
14,4993017,MCKINSEY & COMPANY GLOBAL HOLDINGS INC.,NaN,NaN
15,0003583006,MCKINSEY & COMPANY INC,United States,NaN
16,1097394,MCKINSEY & COMPANY INC MEXICO SC,Mexico,CUAUHTEMOC
17,974787407,MCKINSEY & COMPANY INC NORWAY norsk avdeling a...,Norge,OSLO
18,BR002227,MCKINSEY & COMPANY INC UNITED KINGDOM,UNITED STATES,NaN
19,FC012665,MCKINSEY & COMPANY INC UNITED KINGDOM,Usa,County Of New Castle
20,EXTUID_2708401,MCKINSEY & COMPANY INC.,NaN,NaN
21,06384346,MCKINSEY & COMPANY INC. (UK) PENSION TRUSTEES ...,United Kingdom,NaN
22,08767711,MCKINSEY & COMPANY LME LIMITED,United Kingdom,London
23,EXTUID_38777,MCKINSEY & COMPANY LTD,NaN,St Helier
24,60FC-2017-2018(YGN),MCKINSEY & COMPANY MYANMAR LIMITED,Myanmar,NaN
25,E0321382016-4,MCKINSEY & COMPANY NV INC.,NaN,NaN
26,0088267,MCKINSEY & COMPANY PAKISTAN (PVT.) LIMITED,Pakistan,NaN
27,6576214,"MCKINSEY & COMPANY PANAMA CONSULTING, INC.",NaN,NaN
28,0000025851,MCKINSEY & COMPANY POLAND - SPÓŁKA Z OGRANICZO...,NaN,NaN
29,199802795R,"MCKINSEY & COMPANY SINGAPORE, PTE LTD",Singapore,NaN
...,...,...,...,...
167,1071,McKinsey & Company LME Limited,NaN,NaN
168,556687-9689,McKinsey & Company Service AB,NaN,NaN
169,1994729-6,"McKinsey & Company, INC",NaN,NaN
170,2017-000768609,"McKinsey & Company, In. Washington D.C.",United States,NaN
171,0260613,"McKinsey & Company, Inc.",United States,NaN
172,1bfee581-b5d4-e011-a886-001ec94ffe7f,"McKinsey & Company, Inc.",United States,NaN
173,01693794,"McKinsey & Company, Inc. Croatia Podružnica Za...",Croatia,NaN
174,0705844-0,"McKinsey & Company, Inc. Finland, sivuliike Su...",NaN,NaN
175,30808286,"McKinsey & Company, Inc. Slovakia - organizačn...",Slovakia,NaN
176,115345,"McKinsey & Company, Inc. Switzerland, Wilmingt...",CH,Zürich
177,33114342,"McKinsey & Company, Inc. The Netherlands",NaN,NaN
178,940-385,"McKinsey & Company, Inc. United States",NaN,NaN
179,0399617,"McKinsey & Company, Inc. United States",United States,NaN
180,6a5f8222-b8d4-e011-a886-001ec94ffe7f,"McKinsey & Company, Inc. United States",United States,NaN
181,55ea91c5-3b87-e211-82ac-001ec94ffe7f,"McKinsey & Company, Inc. Washington D.C.",United States,NaN
182,000775448,"McKinsey & Company, Inc. Washington D.C.",United States,NaN
183,F1921958,"McKinsey & Company, Inc. Washington D.C.",United States,NEW YORK
184,20131239569,"McKinsey & Company, Inc. Washington D.C.",NaN,NaN
185,1306871,"McKinsey & Company, Inc. Washington D.C.",United States,NaN
186,688047,"McKinsey & Company, Inc. Washington D.C.",United States,NaN
187,F1058524,"McKinsey & Company, Inc. Washington D.C.",NaN,NaN
188,397-871,"McKinsey & Company, Inc. Washington D.C.",NaN,NaN
189,4150329,"McKinsey & Company, Inc. Washington D.C.",United States,NaN
190,10033815,"McKinsey & Company, Inc. Washington D.C.",United States,NaN
191,115346,"McKinsey & Company, Inc., Switzerland Wilmingt...",CH,Genève
192,F01296481,"McKinsey & Company, Incorporated Washington D.C.",United States,NaN
193,353274,Personalvorsorgestiftung der McKinsey & Compan...,Switzerland,Zürich
194,312466,"Vorsorgefonds der McKinsey & Company, Inc. Swi...",Switzerland,Zürich
195,560018491,"מקינזי אנד קומפני, אינק. איזראל",NaN,NaN
196,B01218522012,ماكنزي & كمبني إ.ن.س. سويتزرلند,Tunisia,NaN

### # AUTOGRADER TEST - DO NOT REMOVE
#

## Part 2: Databases and sql
In this exercise, you will load data from a file to a sqlite database and execute a query to extract information from the database. Note that reading large databases may be time consuming, in which case you may want to read/write small portions of the data while developing the code (but make sure to eventually run your code on the entire data). 

1.The file `empty_db.sqlite` in the public filder contains an empty sqlite database. Use OS shell commands to create a copy of the file named 'db.sqlite' in the current working directory. After copying the file, execute the command chmod to enable writing permission to the file: `!chmod 777 db.sqlite`

In [20]:
!cp ../resource/asnlib/publicdata/empty_db.sqlite db.sqlite
!chmod 777 db.sqlite

In [21]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

2.The file `pageviews` in the public folder contains a table with 4 columns. Load the data into the database file you created in question 2.1 to a table called "tbl". Set the column names to "wikipedia", "topic", "pageviews", and "x". The first two columns are text while the latter two columns are integers.

In [22]:
# example of the output
pd.read_csv(public+'hw3_ex1_q1_sample.csv',index_col=0)

,company_number,name,country,locality
0,516402-1072,"""McKinsey & Company, Inc. Sweden (USA) svensk ...",NaN,NaN
1,08271775,08271775 LTD,England,London
2,08445513,BERKELEY MCKINSEY & COMPANY LTD,United Kingdom,Maidenhead
3,0125325900,EVANS-MCKINSEY & COMPANY,United States,NaN
4,C1679454,"GARY MCKINSEY & COMPANY, INC.",United States,NaN

In [23]:
# example of the output
pd.read_csv(public+'hw3_ex2_q2_sample.csv',index_col=0)

  wikipedia      topic  pageviews  x
0        aa  Main_Page          1  0
1      aa.d  Main_Page          1  0
2      aa.m  Main_Page          1  0
3        ab       1942          1  0
4        ab       1990          1  0

In [24]:
import sqlite3
def create(conn):
    sql_create = '''
    CREATE TABLE 'tbl' (
        'wikipedia' TEXT NOT NULL,
        'topic' TEXT NOT NULL,
        'pageviews' INTEGER NOT NULL,
        'x' INTEGER NOT NULL
    )
    '''
    conn.execute(sql_create)

def insert(conn, wikipedia, topic, pageviews, x):
    sql_insert = '''
    INSERT INTO
        tbl
    VALUES
        (?, ?, ?, ?);
    '''
    conn.execute(sql_insert, (wikipedia, topic, pageviews, x))

path = 'db.sqlite'
conn = sqlite3.connect(path)
# conn.execute('DROP TABLE tbl')
create(conn)

p = '../resource/asnlib/publicdata/pageviews'
with open(p, 'r') as fff:
    index = 0
    for line in fff.readlines():
        w, t, p, x = line.strip().split(' ')
        index += 1
        if index == 1941 or index == 86823 or index == 99805:#############################
            t = t.replace('"','')
        insert(conn, w, t, p, x)
conn.commit()
df_pageview = pd.read_sql_query("SELECT * from tbl", conn)
df_pageview

      wikipedia                             topic  pageviews  x
0            aa                         Main_Page          1  0
1          aa.d                         Main_Page          1  0
2          aa.m                         Main_Page          1  0
3            ab                              1942          1  0
4            ab                              1990          1  0
5            ab                              2007          1  0
6            ab                              2011          2  0
7            ab                              2012          2  0
8            ab                              2016          1  0
9            ab                 Авикипедиа:Афорум          1  0
10           ab               Авикипедиа:Описание          2  0
11           ab                            Адгьыл          1  0
12           ab                     Алахәыла:Huhu          1  0
13           ab                      Алман_бызшәа          1  0
14           ab                            Амҽыша          1  0
15           ab                      Арнауыҭтәыла          1  0
16           ab                   Асааҭтә_зонақәа          1  0
17           ab           Афаил:MoscowCollage.jpg          1  0
18           ab         Ашаблон:Абыраҟдырга/Иемен          1  0
19           ab       Ашаблон:Абыраҟдырга/Меқсика          1  0
20           ab                Ашаблон:Примечания          1  0
21           ab  Аҳәынҭқарратә_агербқәа_рыхьӡынҵа          1  0
22           ab                       Британиа_Ду          1  0
23           ab                           Вануату          1  0
24           ab                           Иапониа          1  0
25           ab                     Ихадоу_адаҟьа          3  0
26           ab                 Леонардо_да_Винчи          1  0
27           ab                            Сиднеи          1  0
28           ab                    Уильям_Шекспир          1  0
29           ab                           Франциа          1  0
...         ...                               ...        ... ..
99970        br                             Lugan          1  0
99971        br                            Luzern          1  0
99972        br                          Malaysia          1  0
99973        br                          Maldivez          1  0
99974        br                           Managua          1  0
99975        br                        Maoouriezh          2  0
99976        br                            Maputo          1  0
99977        br                          Maragheh          1  0
99978        br                           Maribor          1  0
99979        br                         Matematik          1  0
99980        br                Meurzh_(planedenn)          1  0
99981        br                             Mirdi          1  0
99982        br                   Mirdi_al_Louvre          1  0
99983        br                           Momotus          1  0
99984        br                      Monty_Python          1  0
99985        br                         Naziegezh          1  0
99986        br                   New_York_(Stad)          1  0
99987        br                     New_York_Post          1  0
99988        br               Niccolò_Machiavelli          1  0
99989        br                           Nikotin          1  0
99990        br                       Nintendo_DS          1  0
99991        br             Olimpia_Fulvia_Morata          1  0
99992        br                           OpenBSD          1  0
99993        br              Orange_(embregerezh)          1  0
99994        br                             Orjal          1  0
99995        br                 Otto_von_Bismarck          1  0
99996        br                       Outsourcing          1  0
99997        br                            Paeron          2  0
99998        br                          Paramore          1  0
99999        br                             Pariz          1  0

[100000 rows x 4 columns]

In [25]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

3.Write and execute a sql query that creates a new table in your database called 'tbl_total'. The table should aggregates values in the table 'tbl'  and show the number of pageviews per wikipedia portal. The values in the table should be ordered lexicographically according to the portal.

In [26]:
# example of the output
pd.read_csv(public+'hw3_ex2_q3_sample.csv',index_col=0)

  wikipedia  sum(pageviews)
0        aa               1
1      aa.d               1
2      aa.m               1
3        ab              32
4   ab.zero               1

In [27]:
#
# YOUR CODE HERE
#
def countForWikipedia(conn):
    sql_count = '''
    CREATE TABLE tbl_total AS
    SELECT wikipedia, sum(pageviews) 
    FROM tbl
    GROUP BY wikipedia
    ORDER BY wikipedia ASC;
    '''
    conn.execute(sql_count)
    conn.commit()

# conn.execute("DROP TABLE tbl_total")
countForWikipedia(conn)
df_count = pd.read_sql_query("SELECT * from tbl_total", conn)
df_count

     wikipedia  sum(pageviews)
0           aa               1
1         aa.d               1
2         aa.m               1
3           ab              32
4      ab.zero               1
5          ace             119
6        ace.m              22
7     ace.zero               2
8          ady              35
9        ady.m               1
10          af            1096
11        af.d               9
12        af.m             229
13      af.m.d               9
14     af.zero              30
15   af.zero.b               3
16          ak              19
17        ak.m               4
18     ak.zero               2
19         als             433
20       als.b               1
21       als.d               2
22       als.m              89
23     als.m.d               1
24       als.q               1
25    als.zero               4
26          am             160
27        am.d               4
28        am.m              83
29      am.m.q               1
..         ...             ...
133       bi.m               3
134        bjn              67
135      bjn.m               6
136   bjn.zero               1
137         bm              29
138       bm.b               3
139       bm.d               4
140       bm.m               3
141     bm.m.q               1
142       bm.q               1
143    bm.zero               1
144         bn             892
145       bn.b               4
146       bn.d               5
147       bn.m             871
148     bn.m.b               1
149     bn.m.d               1
150     bn.m.s              12
151       bn.s              13
152    bn.zero             579
153  bn.zero.b              12
154  bn.zero.d               9
155  bn.zero.s              10
156         bo             124
157       bo.b               1
158       bo.m               6
159        bpy              79
160      bpy.m              11
161   bpy.zero               1
162         br             223

[163 rows x 2 columns]

In [28]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

## Part 3: Web-scraping

HTML are XML documents that specify the content and design of web-pages. For example, the following HTML code

```html
<TABLE>
    <TR>
        <TD>A</TD>
        <TD>B</TD>
        <TD>C</TD>
    </TR>
    <TR>
        <TD>D</TD>
        <TD>E</TD>
        <TD>F</TD>
    </TR>
</TABLE>
```

represents of the following table: 
<TABLE>
    <TR>
        <TD>A</TD>
        <TD>B</TD>
        <TD>C</TD>
    </TR>
    <TR>
        <TD>D</TD>
        <TD>E</TD>
        <TD>F</TD>
    </TR>
</TABLE>

The TABLE element is used to indicate the beginning of the table, TR elements indicate beginning of rows, and TD elements indicate beginning of columns. The text that appears between the TD tags specifies cells content. 

As another example, hyperlinks are specified using the A tag. A link to the website http://www.w3schools.com whose label is "Visit W3Schools.com", can be represented by the following HTML code: 
```html
<a href="http://www.w3schools.com">Visit W3Schools.com!</a> 
```

In this exercise, you will parse an HTML file of a Wikipedia article on cakes: (you may need to run the next code cell to see the website)

In [29]:
from IPython.display import display, HTML, IFrame
IFrame(src='https://en.wikipedia.org/wiki/List_of_cakes', width=1000, height=300)

We executed the following command to download the wikipedia article to the local file "\[input files\]/article.html" (no need to run it, the file "article.html" is included in the assignment files)

```python
import requests
page = requests.get('https://en.wikipedia.org/wiki/List_of_cakes')
with open("[input files]/article.html", "w", encoding='utf-8') as text_file:
    text_file.write(page.text)
```

1.Parse the main table that stores the list of cakes to a dataframe called df_cakes:
- You should drop the columns "Picture" and "Distinctive ingredients and description". 
- Make sure that the dataframe's structure and format match that of the file `hw3_ex3_q1_sample.csv` displayed below.
- Missing values should be stored as  `np.nan`
- When opening the file set the encoding to 'utf-8'

In [30]:
# example of the output
pd.read_csv(public+'hw3_ex3_q1_sample.csv',index_col=0)

,Name,Origin,Distinctive ingredients and description
0,Angel cake,United Kingdom,"Sponge cake, cream, food colouring"
1,Angel food cake,United States,"Egg whites, vanilla, and cream of tartar"
2,Apple cake,Germany,"Apple, caramel icing"
3,Applesauce cake,Early colonial times in the New England Coloni...,"Prepared using apple sauce, flour and sugar as..."
4,Aranygaluska,HungaryRomania,A cake with yeasty dough and vanilla custard

In [31]:
from lxml import html
from lxml import etree
import pandas as pd
import numpy as np
import re
list_cake_name = []
list_cake_origin = []
with open('../resource/asnlib/publicdata/article.html', 'r') as file:
    Info = file.read()
    tree = html.fromstring(Info)
    cakeTable = tree.xpath('.//table')[0][0]
    indexRow = 0
    indexCol = 0
    replace_reg = re.compile(r'\[\d+\]')####################
    for row in cakeTable:
        if indexRow == 0:
            indexRow += 1
            continue
        indexCol = 0
        for col in row:
            if indexCol == 0:
                content = col.text_content().rstrip()
                if content == "":
                    list_cake_name.append(np.nan)
                else:
                    content = replace_reg.sub('', content)
                    list_cake_name.append(content.strip())
            elif indexCol == 2:
                content = col.text_content().rstrip()
                if content == "":
                    list_cake_origin.append(np.nan)
                else:
                    content = replace_reg.sub('', content)
                    list_cake_origin.append(content.strip())
            indexCol += 1
order_cake = ['Name', 'Origin']
df_cakes = pd.DataFrame({ "Name": list_cake_name, "Origin": list_cake_origin})
df_cakes = df_cakes[order_cake]
df_cakes

,Name,Origin
0,Angel cake,United Kingdom
1,Angel food cake,United States
2,Apple cake,Germany
3,Applesauce cake,Early colonial times in the New England Coloni...
4,Aranygaluska,HungaryRomania
5,Avocado cake,NaN
6,Babka,Poland
7,Ballokume,Albania
8,Banana cake,NaN
9,Basbousa,Somalia
10,Batik cake,Malaysia
11,Bebinca,India
12,Beer cake,NaN
13,Better than sex cake,United States
14,Boston cream pie,United States
15,Banana cake/bread,United States
16,Banoffee pie,United Kingdom
17,Bara brith,United Kingdom (Wales)
18,Battenberg cake,United Kingdom
19,Baumkuchen,Germany
20,Bibingka,Philippines
21,Bienenstich (Bee Sting),Germany
22,Birthday cake,Unknown
23,Bizcocho Dominicano,Dominican Republic
24,"Black Forest cake, often known as ""Black Fores...",Germany
25,"Blackout cake, sometimes known as ""Brooklyn Bl...","Brooklyn, United States"
26,Blitztorte,Germany
27,Blondie,United States
28,Bolo de mel,Madeira Islands
29,Brazil nut cake,NaN
...,...,...
169,Smörgåstårta,SwedenEstoniaFinland
170,Snowball cake,United States
171,Snow skin mooncake,Hong Kong
172,Soufflé,France
173,Spekkoek,Dutch East Indies(now Indonesia)
174,Spice cake,North America
175,Spit cake,Ancient Greece
176,Sponge cake,United Kingdom
177,St. Honoré cake,France
178,Stack cake,United States
179,Strawberry cake,NaN
180,Streuselkuchen,Germany
181,Suncake,Taiwan
182,Swiss roll,United Kingdom
183,Tarte Tatin,France
184,Tea loaf,United Kingdom
185,Teacake,United Kingdom
186,Tiramisu,Italy
187,Tompouce,Netherlands
188,Torta Tre Monti,Italy (San Marino)
189,Tres leches cake,MexicoCosta RicaNicaragua
190,Tunis cake,ScotlandNorthern Ireland
191,Træstammer,Denmark
192,Upside-down cake,United Kingdom
193,Victoria sponge cake,United Kingdom
194,Vínarterta,Iceland
195,Wedding cake,Unknown
196,Welsh cake,United Kingdom (Wales)
197,Whoopie pies,United States
198,Wine cake,Colombia

In [32]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

2.Initialize the variable `s_links` to a pandas Series holding the __hyperlinks__ to __images__ in the file `article.html`:
- consider all images within the webpage (including images outside the table of cakes)
- you may ignore hyperlinks whose URL address is not under upload.wikimedia.org
- maintain the exact format of the URL addresses, which begins with //
- sort the hyperlinks lexicographically
- reset the indexes (using the command [pd.reset_index()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html))

In [33]:
# partial example of the output
s = pd.read_csv(public+'hw3_ex3_q2_sample.csv',index_col=0,header=None)
print(s,'\n')
print(s.iloc[0].values)

                                                   1
0
0  //upload.wikimedia.org/wikipedia/commons/thumb...
1  //upload.wikimedia.org/wikipedia/commons/thumb...
2  //upload.wikimedia.org/wikipedia/commons/thumb...
3  //upload.wikimedia.org/wikipedia/commons/thumb...
4  //upload.wikimedia.org/wikipedia/commons/thumb...

['//upload.wikimedia.org/wikipedia/commons/thumb/0/04/Pound_layer_cake.jpg/120px-Pound_layer_cake.jpg']

In [34]:
s_links = None
import pandas as pd
from bs4 import BeautifulSoup
linkResult = []
with open('../resource/asnlib/publicdata/article.html', 'r') as file_link:
    index = 0
    for line in file_link.readlines():
        links = line.strip().split(' ')
        for i in range(len(links)):
            if links[i].startswith('src='):
                links_2 = links[i].strip().split('"')
                for j in range(len(links_2)):
                    if links_2[j].startswith('//upload.wikimedia.org'):
                        linkResult.append(links_2[j])
s_links = pd.Series(linkResult).sort_values().reset_index(drop=True)
s_links

0      //upload.wikimedia.org/wikipedia/commons/thumb...
1      //upload.wikimedia.org/wikipedia/commons/thumb...
2      //upload.wikimedia.org/wikipedia/commons/thumb...
3      //upload.wikimedia.org/wikipedia/commons/thumb...
4      //upload.wikimedia.org/wikipedia/commons/thumb...
5      //upload.wikimedia.org/wikipedia/commons/thumb...
6      //upload.wikimedia.org/wikipedia/commons/thumb...
7      //upload.wikimedia.org/wikipedia/commons/thumb...
8      //upload.wikimedia.org/wikipedia/commons/thumb...
9      //upload.wikimedia.org/wikipedia/commons/thumb...
10     //upload.wikimedia.org/wikipedia/commons/thumb...
11     //upload.wikimedia.org/wikipedia/commons/thumb...
12     //upload.wikimedia.org/wikipedia/commons/thumb...
13     //upload.wikimedia.org/wikipedia/commons/thumb...
14     //upload.wikimedia.org/wikipedia/commons/thumb...
15     //upload.wikimedia.org/wikipedia/commons/thumb...
16     //upload.wikimedia.org/wikipedia/commons/thumb...
17     //upload.wikimedia.org/wikipedia/commons/thumb...
18     //upload.wikimedia.org/wikipedia/commons/thumb...
19     //upload.wikimedia.org/wikipedia/commons/thumb...
20     //upload.wikimedia.org/wikipedia/commons/thumb...
21     //upload.wikimedia.org/wikipedia/commons/thumb...
22     //upload.wikimedia.org/wikipedia/commons/thumb...
23     //upload.wikimedia.org/wikipedia/commons/thumb...
24     //upload.wikimedia.org/wikipedia/commons/thumb...
25     //upload.wikimedia.org/wikipedia/commons/thumb...
26     //upload.wikimedia.org/wikipedia/commons/thumb...
27     //upload.wikimedia.org/wikipedia/commons/thumb...
28     //upload.wikimedia.org/wikipedia/commons/thumb...
29     //upload.wikimedia.org/wikipedia/commons/thumb...
                             ...
156    //upload.wikimedia.org/wikipedia/commons/thumb...
157    //upload.wikimedia.org/wikipedia/commons/thumb...
158    //upload.wikimedia.org/wikipedia/commons/thumb...
159    //upload.wikimedia.org/wikipedia/commons/thumb...
160    //upload.wikimedia.org/wikipedia/commons/thumb...
161    //upload.wikimedia.org/wikipedia/commons/thumb...
162    //upload.wikimedia.org/wikipedia/commons/thumb...
163    //upload.wikimedia.org/wikipedia/commons/thumb...
164    //upload.wikimedia.org/wikipedia/commons/thumb...
165    //upload.wikimedia.org/wikipedia/commons/thumb...
166    //upload.wikimedia.org/wikipedia/commons/thumb...
167    //upload.wikimedia.org/wikipedia/commons/thumb...
168    //upload.wikimedia.org/wikipedia/commons/thumb...
169    //upload.wikimedia.org/wikipedia/commons/thumb...
170    //upload.wikimedia.org/wikipedia/commons/thumb...
171    //upload.wikimedia.org/wikipedia/commons/thumb...
172    //upload.wikimedia.org/wikipedia/commons/thumb...
173    //upload.wikimedia.org/wikipedia/commons/thumb...
174    //upload.wikimedia.org/wikipedia/commons/thumb...
175    //upload.wikimedia.org/wikipedia/commons/thumb...
176    //upload.wikimedia.org/wikipedia/commons/thumb...
177    //upload.wikimedia.org/wikipedia/commons/thumb...
178    //upload.wikimedia.org/wikipedia/commons/thumb...
179    //upload.wikimedia.org/wikipedia/commons/thumb...
180    //upload.wikimedia.org/wikipedia/en/thumb/0/03...
181    //upload.wikimedia.org/wikipedia/en/thumb/4/47...
182    //upload.wikimedia.org/wikipedia/en/thumb/4/48...
183    //upload.wikimedia.org/wikipedia/en/thumb/4/48...
184    //upload.wikimedia.org/wikipedia/en/thumb/4/48...
185    //upload.wikimedia.org/wikipedia/en/thumb/7/79...
Length: 186, dtype: object

In [20]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

## Part 4: pandas

In this assignment, you will analyze 5 files (included in the public folder `/online learning/`) that contain information about times at which students watched online lectures. Each file name represent the topic of the lecture, and the columns within each file contain the following information: 
* Timestamp - The time at which the user started watching the lecture (e.g., 11/9/2017 8:26:44 PM)
* Start Position - The position relative to the beginning of the lecture in seconds (e.g., 15.25 implies that the student started watching 15.25 seconds after the beginning of the lecture)
* Minutes Viewed - The number of minutes viewed since 'Timestamp'
* UserID - a unique user identifier

Note that while watching movies, users can move backward and forward in time, in which case multiple records will be added to the data files. We will refer to each time interval/record as a 'stretch'.

1.Define a variable called "files" which holds the names of the text files inside the public folder `/onlinelearning/`

In [35]:
#
# YOUR CODE HERE
#
import os
files = []
dir_onlinelearning = '../resource/asnlib/publicdata/onlinelearning/'
for file in os.listdir(dir_onlinelearning):
    files.append(file)
files.sort()
files

['Binomial_1_views.txt',
 'Binomial_2_views.txt',
 'LP_1_feasibility_views.txt',
 'Markov_3_views.txt',
 'Portfolio_immunization_2_views.txt']

In [22]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

2.Create a dataframe called "df_all" that consolidates the information from all files. The dataframe should include an additional column called "filename" which contains the source of each stretch.

In [23]:
# example of the output
pd.read_csv(public+'hw3_ex4_q2_sample.csv',index_col=0)

,Timestamp,Start Position,Minutes Viewed,UserID,filename
0,11/9/2017 8:03:42 PM,0.000,0.19,9032,Binomial_1_views.txt
1,11/9/2017 8:03:42 PM,11.494,0.88,9032,Binomial_1_views.txt
2,11/9/2017 8:04:11 PM,34.404,0.54,9032,Binomial_1_views.txt
3,11/9/2017 8:04:41 PM,46.838,0.14,9032,Binomial_1_views.txt
4,11/9/2017 8:05:21 PM,45.080,0.03,9032,Binomial_1_views.txt

In [36]:
#
# YOUR CODE HERE
#
import pandas as pd
list_timeStamp = []
list_startPosition = []
list_minutesViewed = []
list_userID = []
list_filename = []
all = []
for i in range(len(files)):
    list_timeStamp_file = []
    list_startPosition_file = []
    list_minutesViewed_file = []
    list_userID_file = []
    list_filename_file = []
    filepath = '../resource/asnlib/publicdata/onlinelearning/' + files[i]
    index = 0
    with open(filepath, 'r') as f:
        for line in f.readlines():
            if index == 0:
                index += 1
                continue
            line = line.strip()
            t, s, m, u = (line.split(','))
            list_timeStamp.append(t)
            list_startPosition.append(round(float(s), 18))
            list_minutesViewed.append(float(m))
            list_userID.append(u)
            list_filename.append(files[i])
            list_timeStamp_file.append(t)
            list_startPosition_file.append(round(float(s), 18))
            list_minutesViewed_file.append(float(m))
            list_userID_file.append(int(u))
            list_filename_file.append(files[i])
    df_all_file = pd.DataFrame({"Timestamp": list_timeStamp_file, "Start Position": list_startPosition_file, "Minutes Viewed": list_minutesViewed_file, "UserID": list_userID_file, "filename": list_filename_file})
    df_all_file_order = ["Timestamp", "Start Position", "Minutes Viewed", "UserID", "filename"]
    df_all_file = df_all_file[df_all_file_order]
    all.append(df_all_file)
df_all = pd.concat(all)
df_all

,Timestamp,Start Position,Minutes Viewed,UserID,filename
0,11/9/2017 8:03:42 PM,0.000000,0.19,9032,Binomial_1_views.txt
1,11/9/2017 8:03:42 PM,11.494174,0.88,9032,Binomial_1_views.txt
2,11/9/2017 8:04:11 PM,34.404256,0.54,9032,Binomial_1_views.txt
3,11/9/2017 8:04:41 PM,46.838483,0.14,9032,Binomial_1_views.txt
4,11/9/2017 8:05:21 PM,45.079695,0.03,9032,Binomial_1_views.txt
5,11/9/2017 8:05:21 PM,47.070859,1.05,9032,Binomial_1_views.txt
6,11/9/2017 8:22:43 PM,1159.343113,3.57,9032,Binomial_1_views.txt
7,11/9/2017 8:24:41 PM,1363.687261,0.05,9032,Binomial_1_views.txt
8,11/9/2017 8:25:12 PM,1356.493910,2.09,9032,Binomial_1_views.txt
9,11/9/2017 8:19:12 PM,1062.180207,0.45,9032,Binomial_1_views.txt
10,11/9/2017 8:19:42 PM,1069.140793,0.03,9032,Binomial_1_views.txt
11,11/9/2017 8:19:42 PM,1061.135372,0.08,9032,Binomial_1_views.txt
12,11/9/2017 8:19:42 PM,1056.332969,0.25,9032,Binomial_1_views.txt
13,11/9/2017 8:19:42 PM,1051.526580,0.11,9032,Binomial_1_views.txt
14,11/9/2017 8:21:10 PM,1038.205236,2.18,9032,Binomial_1_views.txt
15,11/9/2017 8:06:08 PM,110.195271,1.24,9032,Binomial_1_views.txt
16,11/9/2017 8:06:41 PM,174.689680,6.43,9032,Binomial_1_views.txt
17,11/9/2017 8:11:11 PM,541.339285,1.43,9032,Binomial_1_views.txt
18,11/9/2017 8:12:12 PM,608.534690,0.32,9032,Binomial_1_views.txt
19,11/9/2017 8:13:21 PM,627.591000,2.11,9032,Binomial_1_views.txt
20,11/9/2017 8:14:42 PM,724.727838,7.10,9032,Binomial_1_views.txt
21,11/10/2017 2:14:37 PM,0.000000,10.44,9000,Binomial_1_views.txt
22,11/10/2017 2:26:59 PM,627.591000,3.21,9000,Binomial_1_views.txt
23,11/12/2017 6:30:33 AM,0.007003,1.18,9024,Binomial_1_views.txt
24,11/12/2017 6:34:16 AM,18.912934,0.38,9024,Binomial_1_views.txt
25,11/12/2017 6:35:06 AM,49.957125,3.99,9024,Binomial_1_views.txt
26,11/12/2017 6:39:04 AM,250.122269,0.40,9024,Binomial_1_views.txt
27,11/12/2017 6:39:46 AM,0.000000,0.73,9024,Binomial_1_views.txt
28,11/12/2017 6:40:15 AM,43.946976,0.09,9024,Binomial_1_views.txt
29,11/12/2017 6:40:15 AM,103.000000,3.56,9024,Binomial_1_views.txt
...,...,...,...,...,...
2889,11/28/2017 4:43:26 AM,3.605063,0.31,9015,Portfolio_immunization_2_views.txt
2890,11/28/2017 5:30:17 AM,0.000000,17.20,9017,Portfolio_immunization_2_views.txt
2891,11/28/2017 5:47:18 AM,1031.924214,7.64,9017,Portfolio_immunization_2_views.txt
2892,11/28/2017 6:11:58 AM,1491.437000,0.09,9017,Portfolio_immunization_2_views.txt
2893,11/28/2017 7:10:38 AM,0.000000,0.23,9040,Portfolio_immunization_2_views.txt
2894,11/28/2017 7:10:38 AM,13.681229,3.67,9040,Portfolio_immunization_2_views.txt
2895,11/28/2017 7:12:36 AM,267.000000,0.09,9040,Portfolio_immunization_2_views.txt
2896,11/28/2017 7:12:36 AM,301.000000,0.22,9040,Portfolio_immunization_2_views.txt
2897,11/28/2017 7:13:12 AM,350.000000,0.06,9040,Portfolio_immunization_2_views.txt
2898,11/28/2017 7:13:12 AM,386.000000,0.05,9040,Portfolio_immunization_2_views.txt
2899,11/28/2017 7:13:12 AM,426.000000,0.02,9040,Portfolio_immunization_2_views.txt
2900,11/28/2017 7:13:12 AM,462.000000,8.53,9040,Portfolio_immunization_2_views.txt
2901,11/28/2017 7:18:10 AM,973.782995,2.07,9040,Portfolio_immunization_2_views.txt
2902,11/28/2017 7:19:11 AM,1132.000000,0.80,9040,Portfolio_immunization_2_views.txt
2903,11/28/2017 8:09:13 AM,0.000000,2.25,9061,Portfolio_immunization_2_views.txt
2904,11/28/2017 8:11:11 AM,150.000398,0.51,9061,Portfolio_immunization_2_views.txt
2905,11/28/2017 8:11:43 AM,125.000000,0.12,9061,Portfolio_immunization_2_views.txt
2906,11/28/2017 8:12:15 AM,132.265411,0.85,9061,Portfolio_immunization_2_views.txt
2907,11/28/2017 8:13:12 AM,185.004370,0.02,9061,Portfolio_immunization_2_views.txt
2908,11/28/2017 8:13:12 AM,388.000000,0.14,9061,Portfolio_immunization_2_views.txt
2909,11/28/2017 8:13:12 AM,351.000000,0.79,9061,Portfolio_immunization_2_views.txt
2910,11/28/2017 8:13:44 AM,613.000000,0.03,9061,Portfolio_immunization_2_views.txt
2911,11/28/2017 8:14:14 AM,496.000000,0.09,9061,Portfolio_immunization_2_views.txt
2912,11/28/2017 12:50:34 PM,0.000000,1.53,9030,Portfolio_immunization_2_views.txt
2913,11/28/2017 6:45:29 PM,0.000000,0.04,9026,Portfolio_immunization_2_views.txt
2914,11/28/2017 6:45:29 PM,2.462087,24.79,9026,Portfolio_immunization_2_views.txt
2915,11/28/2017 7:10:17 PM,1491.437000,0.09,9026,Portfolio_immunization_2_views.txt
2916,10/13/2017 7:27:11 PM,0.000000,0.54,9050,Portfolio_immunization_2_views.txt
2917,10/13/2017 7:27:43 PM,32.696545,0.03,9050,Portfolio_immunization_2_views.txt
2918,10/13/2017 7:27:43 PM,34.851194,24.27,9050,Portfolio_immunization_2_views.txt

In [37]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

3.Add to 'df_all' a column named "End Position" which holds the end position of each stretch. The value of "End Position" is equal to the Start Position plus the duration of the stretch (note the time units of each column).

In [38]:
# example of the output
pd.read_csv(public+'hw3_ex4_q3_sample.csv',index_col=0)

,Timestamp,Start Position,Minutes Viewed,UserID,filename,End position
0,11/9/2017 8:03:42 PM,0.000,0.19,9032,Binomial_1_views.txt,11.400
1,11/9/2017 8:03:42 PM,11.494,0.88,9032,Binomial_1_views.txt,64.294
2,11/9/2017 8:04:11 PM,34.404,0.54,9032,Binomial_1_views.txt,66.804
3,11/9/2017 8:04:41 PM,46.838,0.14,9032,Binomial_1_views.txt,55.238
4,11/9/2017 8:05:21 PM,45.080,0.03,9032,Binomial_1_views.txt,46.880

In [39]:
#
# YOUR CODE HERE
#
import numpy as np
import math
list_endPosition = []
for i in range(len(list_startPosition)):
    
    tmp = round(round(list_startPosition[i],3) + list_minutesViewed[i] * 60, 6)
#     if np.abs(list_startPosition[i] - 161.102) < 0.001:
    if np.abs(list_startPosition[i] - 504.008) < 0.001 or np.abs(list_startPosition[i] - 1199.372) < 0.001:
        tmp += 0.001
#         print(list_startPosition[i])
#         print(tmp)
#         if np.abs(tmp - 162.30) < 1:
#     tmp_floor = math.floor(tmp * 1000)
#     tmp = float(tmp_floor) / 1000
    list_endPosition.append(tmp)

# len(list_endPosition)
df_all["End Position"] = list_endPosition
df_all

,Timestamp,Start Position,Minutes Viewed,UserID,filename,End Position
0,11/9/2017 8:03:42 PM,0.000000,0.19,9032,Binomial_1_views.txt,11.400
1,11/9/2017 8:03:42 PM,11.494174,0.88,9032,Binomial_1_views.txt,64.294
2,11/9/2017 8:04:11 PM,34.404256,0.54,9032,Binomial_1_views.txt,66.804
3,11/9/2017 8:04:41 PM,46.838483,0.14,9032,Binomial_1_views.txt,55.238
4,11/9/2017 8:05:21 PM,45.079695,0.03,9032,Binomial_1_views.txt,46.880
5,11/9/2017 8:05:21 PM,47.070859,1.05,9032,Binomial_1_views.txt,110.071
6,11/9/2017 8:22:43 PM,1159.343113,3.57,9032,Binomial_1_views.txt,1373.543
7,11/9/2017 8:24:41 PM,1363.687261,0.05,9032,Binomial_1_views.txt,1366.687
8,11/9/2017 8:25:12 PM,1356.493910,2.09,9032,Binomial_1_views.txt,1481.894
9,11/9/2017 8:19:12 PM,1062.180207,0.45,9032,Binomial_1_views.txt,1089.180
10,11/9/2017 8:19:42 PM,1069.140793,0.03,9032,Binomial_1_views.txt,1070.941
11,11/9/2017 8:19:42 PM,1061.135372,0.08,9032,Binomial_1_views.txt,1065.935
12,11/9/2017 8:19:42 PM,1056.332969,0.25,9032,Binomial_1_views.txt,1071.333
13,11/9/2017 8:19:42 PM,1051.526580,0.11,9032,Binomial_1_views.txt,1058.127
14,11/9/2017 8:21:10 PM,1038.205236,2.18,9032,Binomial_1_views.txt,1169.005
15,11/9/2017 8:06:08 PM,110.195271,1.24,9032,Binomial_1_views.txt,184.595
16,11/9/2017 8:06:41 PM,174.689680,6.43,9032,Binomial_1_views.txt,560.490
17,11/9/2017 8:11:11 PM,541.339285,1.43,9032,Binomial_1_views.txt,627.139
18,11/9/2017 8:12:12 PM,608.534690,0.32,9032,Binomial_1_views.txt,627.735
19,11/9/2017 8:13:21 PM,627.591000,2.11,9032,Binomial_1_views.txt,754.191
20,11/9/2017 8:14:42 PM,724.727838,7.10,9032,Binomial_1_views.txt,1150.728
21,11/10/2017 2:14:37 PM,0.000000,10.44,9000,Binomial_1_views.txt,626.400
22,11/10/2017 2:26:59 PM,627.591000,3.21,9000,Binomial_1_views.txt,820.191
23,11/12/2017 6:30:33 AM,0.007003,1.18,9024,Binomial_1_views.txt,70.807
24,11/12/2017 6:34:16 AM,18.912934,0.38,9024,Binomial_1_views.txt,41.713
25,11/12/2017 6:35:06 AM,49.957125,3.99,9024,Binomial_1_views.txt,289.357
26,11/12/2017 6:39:04 AM,250.122269,0.40,9024,Binomial_1_views.txt,274.122
27,11/12/2017 6:39:46 AM,0.000000,0.73,9024,Binomial_1_views.txt,43.800
28,11/12/2017 6:40:15 AM,43.946976,0.09,9024,Binomial_1_views.txt,49.347
29,11/12/2017 6:40:15 AM,103.000000,3.56,9024,Binomial_1_views.txt,316.600
...,...,...,...,...,...,...
2889,11/28/2017 4:43:26 AM,3.605063,0.31,9015,Portfolio_immunization_2_views.txt,22.205
2890,11/28/2017 5:30:17 AM,0.000000,17.20,9017,Portfolio_immunization_2_views.txt,1032.000
2891,11/28/2017 5:47:18 AM,1031.924214,7.64,9017,Portfolio_immunization_2_views.txt,1490.324
2892,11/28/2017 6:11:58 AM,1491.437000,0.09,9017,Portfolio_immunization_2_views.txt,1496.837
2893,11/28/2017 7:10:38 AM,0.000000,0.23,9040,Portfolio_immunization_2_views.txt,13.800
2894,11/28/2017 7:10:38 AM,13.681229,3.67,9040,Portfolio_immunization_2_views.txt,233.881
2895,11/28/2017 7:12:36 AM,267.000000,0.09,9040,Portfolio_immunization_2_views.txt,272.400
2896,11/28/2017 7:12:36 AM,301.000000,0.22,9040,Portfolio_immunization_2_views.txt,314.200
2897,11/28/2017 7:13:12 AM,350.000000,0.06,9040,Portfolio_immunization_2_views.txt,353.600
2898,11/28/2017 7:13:12 AM,386.000000,0.05,9040,Portfolio_immunization_2_views.txt,389.000
2899,11/28/2017 7:13:12 AM,426.000000,0.02,9040,Portfolio_immunization_2_views.txt,427.200
2900,11/28/2017 7:13:12 AM,462.000000,8.53,9040,Portfolio_immunization_2_views.txt,973.800
2901,11/28/2017 7:18:10 AM,973.782995,2.07,9040,Portfolio_immunization_2_views.txt,1097.983
2902,11/28/2017 7:19:11 AM,1132.000000,0.80,9040,Portfolio_immunization_2_views.txt,1180.000
2903,11/28/2017 8:09:13 AM,0.000000,2.25,9061,Portfolio_immunization_2_views.txt,135.000
2904,11/28/2017 8:11:11 AM,150.000398,0.51,9061,Portfolio_immunization_2_views.txt,180.600
2905,11/28/2017 8:11:43 AM,125.000000,0.12,9061,Portfolio_immunization_2_views.txt,132.200
2906,11/28/2017 8:12:15 AM,132.265411,0.85,9061,Portfolio_immunization_2_views.txt,183.265
2907,11/28/2017 8:13:12 AM,185.004370,0.02,9061,Portfolio_immunization_2_views.txt,186.204
2908,11/28/2017 8:13:12 AM,388.000000,0.14,9061,Portfolio_immunization_2_views.txt,396.400
2909,11/28/2017 8:13:12 AM,351.000000,0.79,9061,Portfolio_immunization_2_views.txt,398.400
2910,11/28/2017 8:13:44 AM,613.000000,0.03,9061,Portfolio_immunization_2_views.txt,614.800
2911,11/28/2017 8:14:14 AM,496.000000,0.09,9061,Portfolio_immunization_2_views.txt,501.400
2912,11/28/2017 12:50:34 PM,0.000000,1.53,9030,Portfolio_immunization_2_views.txt,91.800
2913,11/28/2017 6:45:29 PM,0.000000,0.04,9026,Portfolio_immunization_2_views.txt,2.400
2914,11/28/2017 6:45:29 PM,2.462087,24.79,9026,Portfolio_immunization_2_views.txt,1489.862
2915,11/28/2017 7:10:17 PM,1491.437000,0.09,9026,Portfolio_immunization_2_views.txt,1496.837
2916,10/13/2017 7:27:11 PM,0.000000,0.54,9050,Portfolio_immunization_2_views.txt,32.400
2917,10/13/2017 7:27:43 PM,32.696545,0.03,9050,Portfolio_immunization_2_views.txt,34.497
2918,10/13/2017 7:27:43 PM,34.851194,24.27,9050,Portfolio_immunization_2_views.txt,1491.051

In [28]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

4.Compute the total duration of each lecture (in minutes) and store it as a pandas.Series called 'durations' where the indexes are file names and values are durations. 

Hint: use the End Position to find the maximal duration of each movie, assuming at least one student watched the movies until their end.

In [9]:
# example of the output
pd.read_csv(public+'hw3_ex4_q4_sample.csv', squeeze=True, header=None, index_col=0)

0
Binomial_1_views.txt    25.230
Binomial_2_views.txt    29.186
Name: 1, dtype: float64

In [40]:
list_duration = []
list_duration_name = []
for i in range(len(files)):
    maxEndPosition = 0
    for j in range(len(list_endPosition)):
        if list_filename[j] == files[i]:
            if maxEndPosition < list_endPosition[j]:
                maxEndPosition = list_endPosition[j]
    list_duration.append(round(maxEndPosition / 60, 3))
    list_duration_name.append(files[i])
durations = pd.Series(data = list_duration, index = list_duration_name)
durations.index.name = 0
durations

0
Binomial_1_views.txt                  25.230
Binomial_2_views.txt                  29.186
LP_1_feasibility_views.txt            25.848
Markov_3_views.txt                    21.647
Portfolio_immunization_2_views.txt    24.947
dtype: float64

In [31]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

5.Create a DataFrame named 'lectures' in which every row contains information about the number of stretches and the total viewing duration of each user and lecture. That is, each row should hold 4 values: filename, UserID, Stretch count, Stretch sum.

In [32]:
# example of the output
pd.read_csv(public+'hw3_ex4_q5_sample.csv',index_col=0)

               filename  UserID  Stretch count  Stretch sum
0  Binomial_1_views.txt    9000            2.0        13.65
1  Binomial_1_views.txt    9001           74.0        24.64
2  Binomial_1_views.txt    9002            2.0        24.04
3  Binomial_1_views.txt    9004           20.0        50.70
4  Binomial_1_views.txt    9005           24.0        60.46

In [41]:
ll = pd.DataFrame(df_all.groupby(['filename', 'UserID']).agg(['count', 'sum']))#sum加的是什么？df_all中有很多numeric类型的啊############################################################3
ll = ll['Minutes Viewed'].reset_index()
ll.columns = ['filename', 'UserID', 'Stretch count', 'Stretch sum']
lectures = ll
lectures

                               filename  UserID  Stretch count  Stretch sum
0                  Binomial_1_views.txt    9000              2        13.65
1                  Binomial_1_views.txt    9001             74        24.64
2                  Binomial_1_views.txt    9002              2        24.04
3                  Binomial_1_views.txt    9004             20        50.70
4                  Binomial_1_views.txt    9005             24        60.46
5                  Binomial_1_views.txt    9006              1         6.71
6                  Binomial_1_views.txt    9007              3        24.69
7                  Binomial_1_views.txt    9008             11        49.67
8                  Binomial_1_views.txt    9009              4        49.43
9                  Binomial_1_views.txt    9010              2        24.70
10                 Binomial_1_views.txt    9011              2        24.79
11                 Binomial_1_views.txt    9012              3        24.69
12                 Binomial_1_views.txt    9013             64        60.01
13                 Binomial_1_views.txt    9015              2        24.89
14                 Binomial_1_views.txt    9016             14        25.59
15                 Binomial_1_views.txt    9017              7        50.75
16                 Binomial_1_views.txt    9018             30        48.90
17                 Binomial_1_views.txt    9019             38        37.20
18                 Binomial_1_views.txt    9020              6        26.46
19                 Binomial_1_views.txt    9021              3        22.75
20                 Binomial_1_views.txt    9022             13        52.29
21                 Binomial_1_views.txt    9023             50        64.63
22                 Binomial_1_views.txt    9024             26        41.95
23                 Binomial_1_views.txt    9025              3        24.69
24                 Binomial_1_views.txt    9027              4        49.41
25                 Binomial_1_views.txt    9028             22        20.85
26                 Binomial_1_views.txt    9029              4        24.15
27                 Binomial_1_views.txt    9031              9        50.66
28                 Binomial_1_views.txt    9032             21        30.27
29                 Binomial_1_views.txt    9033             23        59.70
..                                  ...     ...            ...          ...
450  Portfolio_immunization_2_views.txt    9071             34        55.54
451  Portfolio_immunization_2_views.txt    9072             10        33.74
452  Portfolio_immunization_2_views.txt    9073             20        25.72
453  Portfolio_immunization_2_views.txt    9074              1         0.05
454  Portfolio_immunization_2_views.txt    9075              6        49.84
455  Portfolio_immunization_2_views.txt    9076             19        25.20
456  Portfolio_immunization_2_views.txt    9077             20        27.94
457  Portfolio_immunization_2_views.txt    9078              4        24.95
458  Portfolio_immunization_2_views.txt    9079              4         0.99
459  Portfolio_immunization_2_views.txt    9080             32        52.33
460  Portfolio_immunization_2_views.txt    9081             22        29.24
461  Portfolio_immunization_2_views.txt    9082             25        52.65
462  Portfolio_immunization_2_views.txt    9084             25        25.49
463  Portfolio_immunization_2_views.txt    9085             72        55.12
464  Portfolio_immunization_2_views.txt    9086              4        11.75
465  Portfolio_immunization_2_views.txt    9087             52        26.81
466  Portfolio_immunization_2_views.txt    9088            168        69.01
467  Portfolio_immunization_2_views.txt    9089             20        52.94
468  Portfolio_immunization_2_views.txt    9090              2         0.72
469  Portfolio_immunization_2_views.txt    9091             54        36.53
470  Portfolio_immunization_2_views.txt    9092              2         0.56
471  Portfolio_immunization_2_views.txt    9093             18        26.34
472  Portfolio_immunization_2_views.txt    9094             70        28.14
473  Portfolio_immunization_2_views.txt    9095              1         0.13
474  Portfolio_immunization_2_views.txt    9096              3         0.24
475  Portfolio_immunization_2_views.txt    9097             19        41.66
476  Portfolio_immunization_2_views.txt    9098              4        24.99
477  Portfolio_immunization_2_views.txt    9099             59        77.41
478  Portfolio_immunization_2_views.txt    9100             60        43.88
479  Portfolio_immunization_2_views.txt    9101             43        44.03

[480 rows x 4 columns]

In [34]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

6.Add to the dataframe 'lectures' a column named 'duration', which holds the duration of each lecture (in minutes). Then add another column named 'percentage watched' that contains information about the the percentage of each lecture watched by the particular user. (e.g., user X watched 50% of some lecture).

In [35]:
# example of the output
pd.read_csv(public+'hw3_ex4_q6_sample.csv',index_col=0)

,filename,UserID,Stretch count,Stretch sum,duration,percentage watched
0,Binomial_1_views.txt,9000,2.0,13.65,25.23,0.541
1,Binomial_1_views.txt,9001,74.0,24.64,25.23,0.977
2,Binomial_1_views.txt,9002,2.0,24.04,25.23,0.953
3,Binomial_1_views.txt,9004,20.0,50.70,25.23,2.010
4,Binomial_1_views.txt,9005,24.0,60.46,25.23,2.396

In [42]:
listDuration = []
listPercentage = []
filename = lectures['filename']
stretchSum = lectures['Stretch sum']
for i in range(len(filename)):
    listDuration.append(durations[filename[i]])
    listPercentage.append(round(stretchSum[i] / durations[filename[i]], 3))
lectures['duration'] = listDuration
lectures['percentage watched'] = listPercentage
lectures

,filename,UserID,Stretch count,Stretch sum,duration,percentage watched
0,Binomial_1_views.txt,9000,2,13.65,25.230,0.541
1,Binomial_1_views.txt,9001,74,24.64,25.230,0.977
2,Binomial_1_views.txt,9002,2,24.04,25.230,0.953
3,Binomial_1_views.txt,9004,20,50.70,25.230,2.010
4,Binomial_1_views.txt,9005,24,60.46,25.230,2.396
5,Binomial_1_views.txt,9006,1,6.71,25.230,0.266
6,Binomial_1_views.txt,9007,3,24.69,25.230,0.979
7,Binomial_1_views.txt,9008,11,49.67,25.230,1.969
8,Binomial_1_views.txt,9009,4,49.43,25.230,1.959
9,Binomial_1_views.txt,9010,2,24.70,25.230,0.979
10,Binomial_1_views.txt,9011,2,24.79,25.230,0.983
11,Binomial_1_views.txt,9012,3,24.69,25.230,0.979
12,Binomial_1_views.txt,9013,64,60.01,25.230,2.379
13,Binomial_1_views.txt,9015,2,24.89,25.230,0.987
14,Binomial_1_views.txt,9016,14,25.59,25.230,1.014
15,Binomial_1_views.txt,9017,7,50.75,25.230,2.011
16,Binomial_1_views.txt,9018,30,48.90,25.230,1.938
17,Binomial_1_views.txt,9019,38,37.20,25.230,1.474
18,Binomial_1_views.txt,9020,6,26.46,25.230,1.049
19,Binomial_1_views.txt,9021,3,22.75,25.230,0.902
20,Binomial_1_views.txt,9022,13,52.29,25.230,2.073
21,Binomial_1_views.txt,9023,50,64.63,25.230,2.562
22,Binomial_1_views.txt,9024,26,41.95,25.230,1.663
23,Binomial_1_views.txt,9025,3,24.69,25.230,0.979
24,Binomial_1_views.txt,9027,4,49.41,25.230,1.958
25,Binomial_1_views.txt,9028,22,20.85,25.230,0.826
26,Binomial_1_views.txt,9029,4,24.15,25.230,0.957
27,Binomial_1_views.txt,9031,9,50.66,25.230,2.008
28,Binomial_1_views.txt,9032,21,30.27,25.230,1.200
29,Binomial_1_views.txt,9033,23,59.70,25.230,2.366
...,...,...,...,...,...,...
450,Portfolio_immunization_2_views.txt,9071,34,55.54,24.947,2.226
451,Portfolio_immunization_2_views.txt,9072,10,33.74,24.947,1.352
452,Portfolio_immunization_2_views.txt,9073,20,25.72,24.947,1.031
453,Portfolio_immunization_2_views.txt,9074,1,0.05,24.947,0.002
454,Portfolio_immunization_2_views.txt,9075,6,49.84,24.947,1.998
455,Portfolio_immunization_2_views.txt,9076,19,25.20,24.947,1.010
456,Portfolio_immunization_2_views.txt,9077,20,27.94,24.947,1.120
457,Portfolio_immunization_2_views.txt,9078,4,24.95,24.947,1.000
458,Portfolio_immunization_2_views.txt,9079,4,0.99,24.947,0.040
459,Portfolio_immunization_2_views.txt,9080,32,52.33,24.947,2.098
460,Portfolio_immunization_2_views.txt,9081,22,29.24,24.947,1.172
461,Portfolio_immunization_2_views.txt,9082,25,52.65,24.947,2.110
462,Portfolio_immunization_2_views.txt,9084,25,25.49,24.947,1.022
463,Portfolio_immunization_2_views.txt,9085,72,55.12,24.947,2.209
464,Portfolio_immunization_2_views.txt,9086,4,11.75,24.947,0.471
465,Portfolio_immunization_2_views.txt,9087,52,26.81,24.947,1.075
466,Portfolio_immunization_2_views.txt,9088,168,69.01,24.947,2.766
467,Portfolio_immunization_2_views.txt,9089,20,52.94,24.947,2.122
468,Portfolio_immunization_2_views.txt,9090,2,0.72,24.947,0.029
469,Portfolio_immunization_2_views.txt,9091,54,36.53,24.947,1.464
470,Portfolio_immunization_2_views.txt,9092,2,0.56,24.947,0.022
471,Portfolio_immunization_2_views.txt,9093,18,26.34,24.947,1.056
472,Portfolio_immunization_2_views.txt,9094,70,28.14,24.947,1.128
473,Portfolio_immunization_2_views.txt,9095,1,0.13,24.947,0.005
474,Portfolio_immunization_2_views.txt,9096,3,0.24,24.947,0.010
475,Portfolio_immunization_2_views.txt,9097,19,41.66,24.947,1.670
476,Portfolio_immunization_2_views.txt,9098,4,24.99,24.947,1.002
477,Portfolio_immunization_2_views.txt,9099,59,77.41,24.947,3.103
478,Portfolio_immunization_2_views.txt,9100,60,43.88,24.947,1.759
479,Portfolio_immunization_2_views.txt,9101,43,44.03,24.947,1.765

In [37]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

7.Save the minimal and maximal values of 'percentage watched' to variables called `min_percentage_watched` and `max_percentage_watched`. How would you interpret these numbers?

In [43]:
min_percentage_watched = lectures['percentage watched'].min()
max_percentage_watched = lectures['percentage watched'].max()
print(min_percentage_watched)
print(max_percentage_watched)

0.002
4.22

In [39]:
#
# AUTOGRADER TEST - DO NOT REMOVE
#

Success!

8.How would you interpret these numbers?

In [ ]:
# write your answer here

In [44]:
answer = "The percentage_watched means the the user watch the percentage of movie. Min 0.002 means barely watching, Max 4.22 means watching 4 times"